# Fix GitHub language statistics by ignoring vector/PostScript assets
*.ps linguist-vendored
*.eps linguist-vendored

# Ignore Maya scene files and data from language statistics
*.ma linguist-detectable=false
*.mb linguist-detectable=false
*.xml linguist-detectable=false

# Ignore compiled python files from language statistics
*.pyc linguist-vendored